target
.idea
*.iml
**/logs
**/*.log
*.jazzignore
wiremock/wiremock-standalone-2.19.0.jar
.DS_Store
*.json
account-service/src/main/test/artillery/account-balance.json
account-service/src/main/test/artillery/account-balance.json.html
account-service/src/main/test/artillery/account-balance.yml
account-service/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
account-service/src/main/webapp/WEB-INF/jboss-web.xml
account-service/src/main/test/artillery/account-balance.json
account-service/src/main/test/artillery/account-balance.json.html
account-service/src/main/test/artillery/account-balance.yml
auth-server/src/main/webapp/WEB-INF/jboss-deployment-structure.xml
*.json
*.html
account-service/src/main/test/artillery/account-balance.json.html
account-service/src/main/test/artillery/account-balance.json
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/classes/*
src/main/webapp/WEB-INF/classes/**
src/main/webapp/WEB-INF/classes/*/
src/main/webapp/WEB-INF/classes/*/*
src/main/webapp/WEB-INF/classes/*/*/*
src/main/webapp/WEB-INF/classes/*/*/*/
